body {
    font-family: "Arial", sans-serif;
    background-color: #FFE6E6;
    text-align: center;
}

h1, h2 {
    color: #ff69b4;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

li:hover {
    background-color: #ffcccb;
}

.debate-details {
    background-color: #fff3f3;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}
